<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>835534413952-o0gj9cpf2v9q21npa073cuu4jgj4fevv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835534413952-o0gj9cpf2v9q21npa073cuu4jgj4fevv</string>
	<key>API_KEY</key>
	<string>AIzaSyAwmyOZPzf3NaMW3rpmfqY7iQaKFR7osMM</string>
	<key>GCM_SENDER_ID</key>
	<string>835534413952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.core&apos;</string>
	<key>PROJECT_ID</key>
	<string>flashfi-3ffd1</string>
	<key>STORAGE_BUCKET</key>
	<string>flashfi-3ffd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:835534413952:ios:535acf543772fec6</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat1-ce0b1.firebaseio.com/</string>
</dict>
</plist>
